<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
  </head>
  <body class="slp-bg-white">
    <!-- Navigation -->
    <% if event.navigation %>
      <%= partial "includes/cms/event/slp-event-navigation", locals: { navigation: event.navigation } %>
    <% end %>
    <main>
      <!-- Header -->
      <% if event.header %>
        <%= partial "includes/cms/event/slp-header" %>
      <% end %>
      <!-- Video -->
      <% if event.featured_video %>
        <%= partial "includes/cms/event/slp-video", locals: { video_data: event.featured_video } %>
      <% end %>
      <!-- Video carousel -->
      <% if event.video_carousel %>
        <%= partial "includes/cms/event/slp-video", locals: { video_data: event.video_carousel } %>
      <% end %>
      <!-- Copy and image block -- two column -->
      <div id="what-is-commit" data-slippers-scroll="what-is-commit"></div>
      <% if event.copy_1 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_1 } %>
      <% end %>
      <!-- List block -->
      <div id="important-dates" data-slippers-scroll="important-dates"></div>
      <% if event.block_list_1 %>
        <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_1 } %>
      <% end %>
      <!-- Copy block -- heavy -->
      <div id="call-for-proposals" data-slippers-scroll="call-for-proposals"></div>
      <% if event.copy_2 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_2 } %>
      <% end %>
      <!-- List block -->
      <% if event.block_list_2 %>
        <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_2 } %>
      <% end %>
      <!-- Copy block -- heavy -->
      <div id="sponsors" data-slippers-scroll="sponsors"></div>
      <% if event.copy_3 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_3 } %>
      <% end %>
      <!-- CTAs -->
      <% if event.cta %>
        <%= partial "includes/cms/event/slp-cta" %>
      <% end %>
      <!-- Video carousel -->
      <div id="what-to-expect" data-slippers-scroll="what-to-expect"></div>
      <% if event.video_carousel %>
        <%= partial "includes/cms/event/slp-video", locals: { video_data: event.video_carousel } %>
      <% end %>
      <!-- Countdown -->
      <% if event.countdown %>
        <%= partial "includes/cms/event/slp-countdown" %>
      <% end %>
      <div id="speakers" data-slippers-scroll="speakers"></div>
      <!-- Speakers -->
      <% if event.speakers %>
        <%= partial "includes/cms/event/slp-speakers", locals: { heading: event.speakers_heading, subheading: event.speakers_subheading, body: event.speakers_body, speakers_are_current: event.speakers_are_current, speakers: event.speakers } %>
      <% end %>
      <div id="tracks" data-slippers-scroll="tracks"></div>
      <!-- Benefits -->
      <% if event.benefits %>
        <%= partial "includes/cms/event/slp-benefits", locals: { heading: event.tracks_heading, body: event.tracks_body, tracks: event.tracks } %>
      <% end %>
      <div id="schedule" data-slippers-scroll="schedule"></div>
      <!-- Schedule: this will be an iframe to an external resource -->
      <!-- Partners -->
      <% if event.partners_tiers %>
        <%= partial "includes/cms/event/slp-partners", locals: { heading: event.partners_heading, body: event.partners_body, cta_text: event.partners_cta_text, cta_link: event.partners_cta_link, tiers: event.partners_tiers } %>
      <% end %>
      <!-- Card section with no images -->
      <% if event.cards_section %>
        <%= partial "includes/cms/event/slp-card", locals: { section: event.cards_section } %>
      <% end %>
      <!-- Card section with images -->
      <% if event.cards_section_two %>
        <%= partial "includes/cms/event/slp-card", locals: { section: event.cards_section_two } %>
      <% end %>
      <!-- Get in touch -->
      <div id="get-in-touch" data-slippers-scroll="get-in-touch"></div>
      <% if event.connect %>
        <%= partial "includes/cms/event/slp-connect" %>
      <% end %>
      <!-- Announcement -->
      <% if event.announcement %>
        <%= partial "includes/cms/event/slp-announcement" %>
      <% end %>
      <!-- CTA -->
      <% if event.cta_3up %>
        <%= partial "includes/cms/event/slp-cta-3up" %>
      <% end %>
    </main>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-countdown.js" type="text/javascript"></script>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-speaker.js" type="text/javascript"></script>
    <style>
      svg {
        fill: white!important;
      }
    </style>
  </body>
</html>
